body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display:flex;
    animation: bgchange 9s infinite;
}

span{
    font-family:verdana,sans-serif;
    font-size: 70px;
    text-transform: capitalize;
    text-align: center;
    color: white;
}

span:before{
    content:"";
    animation: textchange 9s infinite;
}

@keyframes bgchange{
    0%{background-color: #C71585;}
    20%{background-color: #FF1493;}
    40%{background-color: #FF69B4;}
    60%{background-color: #DB7093;}
    80%{background-color: #FFB6C1;}
    100%{background-color: #FFC0CB;}
}

@keyframes textchange{
    0%{content:"Desafio"}
    20%{content:"#30 Dias de CSS"}
    40%{content:"Dia 28"}
    60%{content:"Bruna dos Santos"}
    80%{content:":)"}
    100%{content:"Bye"}
}

